<a href="https://colab.research.google.com/github/JiSu0708/ESAA-YB/blob/main/0403_%EA%B3%BC%EC%A0%9C(ESAA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**두잇 데이터 분석을 위한 판다스 입문** 241-242p, 256-263p
# 시계열 데이터

## datetime 오브젝트  
날짜/시간을 처리하는 기능을 제공하는 파이썬 라이브러리

오브젝트  
- date: 날짜 처리
- time: 시간 처리
- datetime: 날짜와 시간 모두 처리

In [1]:
from datetime import datetime

In [5]:
# now, today - 현재 시간 출력
now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2023-04-04 12:34:43.313437
2023-04-04 12:34:43.313708

In [8]:
# 시간을 직접 입력하여 인자로 전달
t1 = datetime.now() #now 메서드는 밀리초 단위까지 구함
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 24)

print(t1)
print(t2)
print(t3)

2023-04-04 12:36:26.831103
1970-01-01 00:00:00
1970-12-12 13:24:24

In [12]:
# datetime 오브젝트는 시간 계산을 할 수 있다
diff1 = t1 - t2

print(diff1)
print(type(diff1))


diff2 = t2 - t1

print(diff2)
print(type(diff2))

19451 days, 12:36:26.831103
<class 'datetime.timedelta'>
-19452 days, 11:23:33.168897
<class 'datetime.timedelta'>

### 테슬라 주식 데이터로 시간 계산하기

In [13]:
pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.9/dist-packages (0.10.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

1. get_data_quanal 메서드에 TSLA라는 문자열 전달 -> 테슬라 주식 데이터 내려받기

In [23]:
import pandas as pd

pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

# tesla는데이터프레임이 저장됩니다.
## tesla = pdr.get_data_quandl('TSLA', api_key = '받은 key')
### 받은 key: https://www.quandl.com 에 가입하여 접속 api_key를 생성하여 받은 key

# tesla에 저장된 데이터프레임을 파일로 저장
##tesla.to_csv('c:\data\tesla_stock_quandl.csv')

tesla = pd.read_csv('tesla_stock_quandl.csv')

2. Date열: 문자열 -> datetime 오브젝트로 자료형 변환 -> 시간 계산

In [25]:
print(tesla.head())

         Date    Open    High     Low   Close    Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.18  279.18  13696168           0
1  2018-03-26  307.34  307.59  291.36  304.18   8324639           0
2  2018-03-23  311.25  311.61  300.45  301.54   6600538           0
3  2018-03-22  313.89  318.82  308.18  309.10   4914307           0
4  2018-03-21  310.25  322.44  310.19  316.53   5927881           0

   SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
0           1   304.00   304.27  277.18    279.18   13696168
1           1   307.34   307.59  291.36    304.18    8324639
2           1   311.25   311.61  300.45    301.54    6600538
3           1   313.89   318.82  308.18    309.10    4914307
4           1   310.25   322.44  310.19    316.53    5927881

3. read_csv 메서드로 데이터 집합 불러올 때 **parse_dates** 인자에 **Date 열** 전달 -> Date 열을 Datetime 형으로 변환

In [27]:
tesla = pd.read_csv('tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1949 non-null   datetime64[ns]
 1   Open        1949 non-null   float64
 2   High        1949 non-null   float64
 3   Low         1949 non-null   float64
 4   Close       1949 non-null   float64
 5   Volume      1949 non-null   int64
 6   ExDividend  1949 non-null   int64
 7   SplitRatio  1949 non-null   int64
 8   AdjOpen     1949 non-null   float64
 9   AdjHigh     1949 non-null   float64
 10  AdjLow      1949 non-null   float64
 11  AdjClose    1949 non-null   float64
 12  AdjVolume   1949 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(4)
memory usage: 198.1 KB
None

4. 불린 추출(이제 dt 접근자 사용 가능)

In [29]:
print(tesla.loc[(tesla.Date.dt.year == 2010) & (tesla.Date.dt.month == 6)])

           Date   Open     High    Low  Close    Volume  ExDividend  \
1947 2010-06-30  25.79  30.4192  23.30  23.83  17187100           0
1948 2010-06-29  19.00  25.0000  17.54  23.89  18766300           0

      SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
1947           1    25.79  30.4192   23.30     23.83   17187100
1948           1    19.00  25.0000   17.54     23.89   18766300

## datetime 오브젝트와 인덱스 - DatetimeIndex  
datetime 오브젝트를 데이터프레임의 인덱스로 설정 -> 원하는 시간의 데이터 바로 추출 가능
### datetime 오브젝트를 인덱스로 설정해 데이터 추출하기

1. Date 열 tesla 데이터프레임의 인덱스로 지정

In [30]:
tesla.index =tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', name='Date', length=1949, freq=None)

2. datetime 오브젝트를 인덱스로 지정하면 원하는 시간의 데이터를 바로 추출할 수 있따.

In [31]:
print(tesla['2015'].iloc[:5, :5])

                 Date    Open     High       Low   Close
Date
2015-12-31 2015-12-31  238.51  243.450  238.3700  240.01
2015-12-30 2015-12-30  236.60  243.634  235.6707  238.09
2015-12-29 2015-12-29  230.06  237.720  229.5470  237.19
2015-12-28 2015-12-28  231.49  231.980  225.5400  228.95
2015-12-24 2015-12-24  230.56  231.880  228.2800  230.57

<ipython-input-31-846783a4896c>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2015'].iloc[:5, :5])

3. 2010년 6월 데이터 추출

In [32]:
print(tesla['2010-06'].iloc[:, :5])

                 Date   Open     High    Low  Close
Date
2010-06-30 2010-06-30  25.79  30.4192  23.30  23.83
2010-06-29 2010-06-29  19.00  25.0000  17.54  23.89

<ipython-input-32-01bd23607ac5>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2010-06'].iloc[:, :5])

## 시간 간격과 인덱스 - TimedeltaIndex  
시간 간격을 인덱스로 지정하여 데이터 추출 (ex. 최초 5일간 수집된 데이터만 보고 싶을 때)  

### 시간 간격을 인덱스로 지정해 데이터 추출하기
1. (Date 열) - (Date 열의 최솟값) = (데이터를 수집한 후 흐른 시간: 시간 간격(ref_date))

In [35]:
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close    Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168           0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639           0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538           0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307           0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881           0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume  \
Date
2018-03-27           1   304.00   304.27  277.18    279.18   13696168
2018-03-26           1   307.34   307.59  291.36    304.18    8324639
2018-03-23           1   311.25   311.61  300.45    301.54    6600538
2018-03-22           1   313.89   318.82  308.18    309.10    4914307
2018-03-21           1   310.25   322.44  310.19    316.53    5927881

            ref_date
Date
2018-03-27 2828 days
2018-03-26 2827 days
2018-03-23 2824 days
2018-03-22 2823 days
2018-03-21 2822 days

2. 시간 간격(ref_date)을 인덱스로 지정 -> 시간 간격을 이용해 데이터 추출

In [36]:
tesla.index = tesla['ref_date']
print(tesla.iloc[:5, :5])

                Date    Open    High     Low   Close
ref_date
2828 days 2018-03-27  304.00  304.27  277.18  279.18
2827 days 2018-03-26  307.34  307.59  291.36  304.18
2824 days 2018-03-23  311.25  311.61  300.45  301.54
2823 days 2018-03-22  313.89  318.82  308.18  309.10
2822 days 2018-03-21  310.25  322.44  310.19  316.53

3. 데이터를 수집한 이후 최초 5일의 데이터 추출

In [39]:
print(tesla['5 days':].iloc[:5, :5])
# 4 days는 데이터가 처음부터 없어서 출력되지 않음.

               Date   Open     High    Low  Close
ref_date
3 days   2010-07-02  23.00  23.1000  18.71  19.20
2 days   2010-07-01  25.00  25.9200  20.27  21.96
1 days   2010-06-30  25.79  30.4192  23.30  23.83
0 days   2010-06-29  19.00  25.0000  17.54  23.89

## 시간 범위와 인덱스  
특정일에 누락된 데이터도 포함시켜 데이터를 살펴볼 때 -> 임의로 시간 범위를 생성하여 인덱스로 지정

### 시간 범위 생성해 인덱스로 지정  
1. 누락된 데이터가 있는 에볼라 데이터 집합 사용.  
앞쪽을 살펴보면 2015년 01월 01일 데이터 누락.

In [48]:
ebola = pd.read_csv('/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5, :5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

2, 뒤쪽의 데이터도 마찬가지로 2014년 03월 23일의 데이터 누락.

In [50]:
print(ebola.iloc[-5:, :5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

3. date_range 메서드 사용 -> 시간 인덱스(DatetimeIndex) 생성

In [51]:
head_range = pd.date_range(start = '2014-12-31', end = '2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

4. **반드시 Date 열을 인덱스로 지정한 다음 생성한 시간 범위를 인덱스로 지정해야 함**
- 원본 데이터 손상 방지 위해 <- ebola 데이터프레임의 앞쪽 5개의 데이터를 추출하여 새로운 데이터프레임을 만든 것.  
- Date 열을 인덱스로 먼저 지정하지 않으면 오류 발생.

In [53]:
ebola_5 = ebola.head()
ebola_5.index =ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

#### 시간 범위의 주기 설정하기  
freq 속성값 지정 -> 시간 간격 조절 -> DatetimeIndex 만듦  

\* freq 속성값으로 사용할 수 있는 시간 주기  
- B: 평일만 포함
- C: 사용자가 정의한 평일만 포함
- D: 달력 일자 단위
- W: 주간 단위
- M: 월 마지막 날만 포함
- SM: 15일과 월 마지막 날만 포함
- MS: 월 시작일만 포함
- SMS: 월 시작일과 15일만 포함
- Q: 3, 6, 9, 12월 분기 마지막 날만 포함
- QS: 3, 6, 9, 12월 분기 시작일만 포함
- A: 년의 마지막 날만 포함
- AS: 년의 시작일만 포함
- H: 시간 단위로 포함
- T: 분 단위 포함
- S: 초 단위 포함
.
.
.